spring:
  application:
    name: "url-shortener-service"

  datasource:
    url: "jdbc:postgresql://localhost:5432/postgres"
    username: "user"
    password: "password"

  jpa:
    properties:
      hibernate:
        dialect: "org.hibernate.dialect.PostgreSQLDialect"

    hibernate:
      use-new-id-generator-mappings: false

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - metrics

    health:
      show-details: when-authorized
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true

  # Database health check
    db:
      enabled: true
