spring:
  application:
    name: "url-shortener-service"

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/urlshortener}
    username: ${SPRING_DATASOURCE_USERNAME:user}
    password: ${SPRING_DATASOURCE_PASSWORD:password}

  jpa:
    properties:
      hibernate:
        dialect: "org.hibernate.dialect.PostgreSQLDialect"

    hibernate:
      use-new-id-generator-mappings: false

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - metrics

    health:
      show-details: when-authorized
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true

  # Database health check
    db:
      enabled: true

logging:
level:
  root: ${LOGGING_LEVEL_ROOT:INFO}  # Default root level, overridable by env var