apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: {{ .Values.filebeat.namespace }}
  labels:
    app: {{ .Values.filebeat.name }}
data:
  filebeat.yml: |
    filebeat.inputs:
    - type: container
      paths:
        - /var/log/containers/*.log
      parsers:
      - container: ~

    processors:
    - add_kubernetes_metadata:
        host: ${NODE_NAME}
        matchers:
        - logs_path:
            logs_path: "/var/log/containers/"
    
    # Add cloud metadata
    - add_cloud_metadata: ~
    - add_host_metadata: ~
    - add_docker_metadata: ~

    output.logstash:
      hosts: ["{{ .Values.filebeat.logstash.host }}:{{ .Values.filebeat.logstash.port }}"]

    logging.level: debug
    logging.to_files: true
    logging.files:
      path: /var/log/filebeat
      name: filebeat
      keepfiles: 7
      permissions: 0644